#items{
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  gap: 20px;
  grid-row: 4/5;
}

#userprofile{
  position:absolute;
  top: 220px;
  left: 50px;
}

#mypage{
  display: grid;
  grid-template-rows: 300px 180px 50px minmax(300px,auto)
}

#menubar{
  grid-row: 3/4
}
