.Nftsmallcard{
    margin: 10px 0 ;
    width: 200px;
    height: 230px;
    cursor: pointer;
    color: black;

    box-shadow: rgb(0 0 0 / 8%) 0px 4px 16px;
    border-radius: 12px;

    transition: all 0.2s ease-in-out;
    overflow: hidden;

    display: flex;
    flex-direction: column;
}

.Nftsmallcard:hover{
    transform: translateY(-10px);
}

.Nftsmallcard-img{
    object-fit: cover;
    width: 200px;
    height: 140px;
}

.Nftsmallcard-description-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    height: 100%;
    padding: 16px;
}

.Nftsmallcard-description-title{
    margin: 0;
}
.Nftsmallcard-description-detail{
    display: flex;
    justify-content: space-between;
}

.Nftsmallcard-description-price > h5{
    margin: 0;
}
.Nftsmallcard-description-price > p{
    margin: 2px 0;
    font-size: 6px;
}
