.main-ranker-rank{
    min-width: 400px;
    width: 450px;
    padding: 12px 8px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    cursor: pointer;
    color: black;
}
.main-ranker-rank:hover{
    background-color: #eee;
}

.main-ranker-rank-left-container{
    display: flex;
    align-items: center;
}
.main-ranker-rank-left-container > div{
    margin-right: 20px;
}

.main-ranker-rank-number{
    width: 1rem;
}

.main-ranker-rank-img > img {
    width: 66px;
    height: 66px;
    border: 1px solid gray;
    border-radius: 10px;
}

.main-ranker-rank-title > h5{
    margin: 0;
}
.main-ranker-rank-title > p{
    margin: 3px 0 ;
    font-size: 0.5em;
}