.main-slider{
    height: max-content;
    position: relative;
}
.main-swiper-container{
    display: flex;
    padding: 0 16px;
}
.main-slider-heading-wrapper{
    display: flex;
    justify-content: center;
}

.main-slider-heading-wrapper > h1{
    margin-top: 0;
    width: fit-content;
}
.main-slider-left-arrow{
    position: absolute;
    top: 50%;
    width: 48px;
    height: 48px;
    border-radius: 24px;
    background-color: gray;

}

.main-slider-right-arrow{
    position: absolute;
    right: 0;
    top: 50%;
    width: 48px;
    height: 48px;
    border-radius: 24px;
    background-color: gray;
}